.customDiv {
	color: blue;
}

.customTable{   
   border-collapse:collapse;
   border:1px solid #ffffff;
}

.customTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   background-color: #1170F7;
   border:1px solid #ffffff;
   color: #ffffff;
   padding:2px;
}

.customTableOddRow{
   text-align:left;
   background:none repeat scroll 0 0 #99C1FB;
   border:1px solid #ffffff;	
}

.customTableEvenRow{
   text-align:left;
   background:none repeat scroll 0 0 #CCE1FE;
   border:1px solid #ffffff;
}

.customBorderDiv {
	border-right: 1px solid #ffffff;
	height: 60px;
}